
<div class="row">
	<div class="col-md-6">
		<p class="mainP">BLACK TO GREEN</p>
		<p class="mainD">For plant lovers with black thumbs</p>
		<p>Hearty plants that are hard to kill for even the most skilled plant-killers</p>
	</div>

</div>

